{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{% static 'health/css/adminstyle.css' %}">
</head>
<body>
    <div class="sidenav">
        <img src="{% static 'health/images/admin.jpg' %}" alt="Profile Picture" class="profile-pic">
        
        <p>Welcome, {{ request.user.first_name }}</p>
        
        <a href="{%url 'admin-dashboard'%}" >Dashboard</a>
        <a href="{%url 'admin-manage-doctors'%}" >Manage Doctors</a>
        <a href="{%url 'admin-manage-patients'%}" >Manage Patients</a>
        <a href="accept-reject-appointment">Appointments</a>
        <a href="#">Reports</a>
        <a href="{%url 'admin_settings'%}" class="active">Settings</a>
    
    
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
    </div>
        <center>
            <div class="set" style="margin-left: 30px;">
                <h1>Admin Settings</h1>
            
                <h2>Profile Information</h2>
                <p>Username: {{ request.user.username }}</p>
                <p>First Name: {{ request.user.first_name }}</p>
                <p>Last Name: {{ request.user.last_name }}</p>
            
                <h2>Change Password</h2>
                <form method="post" action="{% url 'change_password' %}">
                    {% csrf_token %}
                    <label for="id_old_password">Old Password:</label>
                    <input type="password" name="old_password" id="id_old_password" required><br>
                    <label for="id_new_password1">New Password:</label>
                    <input type="password" name="new_password1" id="id_new_password1" required><br>
                    <label for="id_new_password2">Confirm New Password:</label>
                    <input type="password" name="new_password2" id="id_new_password2" required><br>
                    <button type="submit">Change Password</button>
                </form>
                </div>
        </center>
    
</body>
</html>
