{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="{% static 'health/css/adminstyle.css' %}">
</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
</head>
<body>
    <div class="sidenav">
        <img src="{% static 'health/images/admin.jpg' %}" alt="Profile Picture" class="profile-pic">
        
        <p>Welcome, {{ request.user.first_name }}</p>
        <a href="admin-dashboard" >Dashboard</a>
        <a href="admin-manage-doctors">Manage Doctors</a>
        <a href="admin-manage-patients">Manage Patients</a>
        <a href="accept-reject-appointment" class="active">Appointments</a>
        <a href="#">Manage Departments</a>
        <a href="#">Reports</a>
        <a href="#">Settings</a>
    
    
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
    </div>
    <center>
        <h1>Appointments</h1>
    {% for appointment in appointments %}
        <li>
            <p>Patient: {{ appointment.patient.name }}</p>
            <p>Date: {{ appointment.date }}</p>
            {% if user.is_doctor %}
                <form method="post" action="{% url 'accept-reject-appointment' %}?id={{ appointment.id }}">
                    {% csrf_token %}
                    <button type="submit" name="action" value="accept">Accept</button>
                    <button type="submit" name="action" value="reject">Reject</button>
                </form>
            {% elif user.is_patient %}
                <p>Status: {% if appointment.accepted %}Accepted{% else %}Pending{% endif %}</p>
            {% endif %}
        </li>
    {% endfor %}
    </center>
</body>
</html>
