{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'health/css/adminstyle.css' %}">
</head>
<body>
    <div class="sidenav">
        <img src="{% static 'health/images/patient.jpg' %}" alt="Profile Picture" class="profile-pic">
        <div class="greeting">Hi, {{ request.user.first_name }}</div>
        <a href="patient-dashboard" >Dashboard</a>
        <a href="patientprofile" class="active">Profile</a>
        <a href="book-appointment">Appointments</a>
        <a href="patient-prescription">Prescriptions</a>
        <!-- <a href="#">Medical Records</a> -->
        <a href="{%url 'lab-results'%}">Lab Results</a>
        <!-- <a href="patient_details">Messages</a> -->
        <a href="#">Settings</a>
   
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" style="background-color: #f44336; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: block; font-size: 18px; margin-left: auto; margin-right: auto; margin-top: 20px; cursor: pointer;">Logout</button>
        </form>
    </div>
    <center>
        <div class="main-content">
            <h1>Edit Health Data</h1>
            <form method="post">
                {% csrf_token %}
                <label for="id_blood_pressure">Blood Pressure:</label>
                {{ form.blood_pressure }}
                <br>
                <label for="id_sugar_level">Sugar Level:</label>
                {{ form.sugar_level }}
                <br>
                <label for="id_height">Height:</label>
                {{ form.height }}
                <br>
                <label for="id_weight">Weight:</label>
                {{ form.weight }}
                <br>
                <label for="id_heart_rate">Heart Rate:</label>
                {{ form.heart_rate }}
                <br>
                <label for="id_bmi">BMI:</label>
                {{ form.bmi }}
                <br>
                <label for="id_cholesterol_level">Cholesterol Level:</label>
                {{ form.cholestrol_level }}
                <br>
                <label for="id_body_temperature">Body Temperature:</label>
                {{ form.body_temperature }}
                <br>
                <button type="submit">Save</button>
            </form>
            
            
        </div>
    </center>

    
</body>
</html>