{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
    <link rel="stylesheet" href="{% static 'health/css/adminstyle.css' %}">
    <style>
        .table-wrapper {
            overflow-x: auto;
            
        }

        @media only screen and (min-width: 770px) {
    .table-wrapper {
        margin-left: 250px;
    }
}

        @media only screen and (max-width: 768px) {
            .content {
                margin-left: 0;
            }
        }
    </style>
</head>
<body>

    <div class="sidenav">
        <img src="{% static 'health/images/patient.jpg' %}" alt="Profile Picture" class="profile-pic">
        <div class="greeting">Hi, {{ request.user.first_name }}</div>
        <a href="{%url 'patient-dashboard'%}" class="active">Dashboard</a>
        <a href="{%url 'patientprofile'%}">Profile</a>
        <a href="{%url 'book-appointment'%}">Appointments</a>
        <a href="{%url 'patient-prescription'%}">Prescriptions</a>
        <a href="{%url 'lab-results'%}">Lab Results</a>
        <a href="{%url 'patient_settings'%}">Settings</a>
   
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="btn-submit" type="submit">Logout</button>
        </form>
    </div>

    <div class="content">
        <center>
            <h1>Health Data</h1>
            <div class="table-wrapper">
                <table>
                    <tr>
                        <th>Blood Pressure</th>
                        <th>Sugar Level</th>
                        <th>Height</th>
                        <th>Weight</th>
                        <th>BMI</th>
                        <th>Heart Rate</th>
                        <th>Cholesterol level</th>
                        <th>Body Temperature</th>
                    </tr>
                    {% for data in health_data %}
                        <tr>
                            <td>{{ data.blood_pressure }}</td>
                            <td>{{ data.sugar_level }}</td>
                            <td>{{ data.height }}</td>
                            <td>{{ data.weight }}</td>
                            <td>{{ data.bmi }}</td>
                            <td>{{ data.heart_rate }}</td>
                            <td>{{ data.cholestrol_level }}</td>
                            <td>{{ data.body_temperature }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </center>
    </div>
    
</body>
</html>
